


/* TABLET */
@media (max-width: 768px){

}

/* PHONE */
@media (max-width: 500px) {
    .tela{
        border: none;
        box-shadow: none;
        width: 100vw;
        height: 100vh;
    }
    .tela form span{
        width: 100%;
    }
    .register_form{
        margin-right: 1rem;
        font-size: 0.9rem;
    }
    
}

/* LAPTOP */
@media screen and (max-width: 768px) and (max-width: 992px){
    /* SEM ALTERAÇÃO */
}

/* DESKTOP */
@media screen and (max-width: 1200px){
    /* SEM ALTERAÇÃO */
}